.missing {
    display: inline-block;
}

.icon-check{
	display: inline-block;
}

input[type="checkbox"].icon-cb {
	display: none;
}

input[type="checkbox"].icon-cb + label {
	width: 60px;
	height: 60px;
	/*border: 1px solid DeepSkyBlue;*/
	display: block;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"].icon-cb + label > img {
	width:100%;
	height:100%;
	transition-duration: 0.1s;
	transform-origin: 50% 50%;
}

input[type="checkbox"].icon-cb + label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 0.05em solid white;
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	width: 1.1em;
    height: 1.1em;
	line-height: 1.1em;
	text-align: center;
    transition-duration: 0.2s;
	transform: scale(0);
}

input[type="checkbox"].icon-cb:checked + label:before {
	content: "✓";
	transform: scale(1);
    z-index: 2;
}

input[type="checkbox"].icon-cb:checked + label > img {
	transform: scale(0.9);
    opacity: 0.5;
}

/* input[type="checkbox"].icon-cb.Flame:checked + label {border-color: salmon;} */
input[type="checkbox"].icon-cb.Flame:checked + label:before {background-color: salmon;}
input[type="checkbox"].icon-cb.Flame:checked + label > img {background-color: salmon; }
input[type="checkbox"].icon-cb.Water:checked + label:before {background-color: deepskyblue;}
input[type="checkbox"].icon-cb.Water:checked + label > img {background-color: deepskyblue; }
input[type="checkbox"].icon-cb.Wind:checked + label:before {background-color: lightgreen;}
input[type="checkbox"].icon-cb.Wind:checked + label > img {background-color: lightgreen; }
input[type="checkbox"].icon-cb.Light:checked + label:before {background-color: khaki;}
input[type="checkbox"].icon-cb.Light:checked + label > img {background-color: khaki; }
input[type="checkbox"].icon-cb.Shadow:checked + label:before {background-color:mediumpurple;}
input[type="checkbox"].icon-cb.Shadow:checked + label > img {background-color: mediumpurple; }
